.team {
    background-color: #f5f4fa;
  }
  
  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
  }
  
  .team-list {
    width: 1170px;
    display: flex;
    margin: 0 auto;
  }
  
  .our-team {
    font-size: 16px;
    line-height: 1.1;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
  }
  
  .team-list-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
  }
  
  .team-social-icons {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    fill: #afb1b8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .social-icons {
    width: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .team-social-icons:hover,
  .team-social-icons:focus {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    fill:#ffffff;
  }
  
  .team-item {
    background-color: var(--secondary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team-item:not(:first-child) {
    margin-left: 30px;
  }
  
  .team-card {
    display: block;
  }
  
  .cards {
    padding: 30px 10px;
    text-align: center;
  }
  
  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: #757575;
  }