.work-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
  }
  
  .work-list {
    max-width: 1230px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
  }
  
  .work-item {
    margin: 0 auto;
    margin-bottom: 30px; 
  }
  
  .portfolio {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .portfolio:hover .work-text,
  .portfolio:focus .work-text {
    transform: translateY(0);
  }
  
  .work-shadow:hover,
  .work-shadow:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  .work-wrap {
    position: relative;
    overflow: hidden;
  }
  
  .work-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    background: rgba(33, 150, 243, 0.9);
    color: var(--secondary-white-color);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .project {
    display: block;
  }
  
  .projects {
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    padding: 20px 24px;
  }
  
  .proj {
    margin-bottom: 0;
  }